.new-set-page--container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
.new-set-page--container h2 {
  font-size: 1.2rem;
}
.new-set-page--container .form {
  display: flex;
  flex-grow: 1;
  overflow: auto;
}
.new-set-page--container form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 50px;
  max-width: 1000px;
}
.new-set-page--container form .form-body {
  border-bottom: 1px dashed #e0e0e0;
  border-top: 1px dashed #e0e0e0;
  flex-grow: 1;
  margin-bottom: 2rem;
  overflow: auto;
  padding-top: 1rem;
}
.new-set-page--container form .field > div {
  width: 100%;
}
.new-set-page--container form .name {
  margin-bottom: 1rem;
  width: 12rem;
}
.new-set-page--container form .entry {
  column-gap: 0.5rem;
  display: flex;
  margin-bottom: 1rem;
}
.new-set-page--container form .entry .word {
  width: 12rem;
}
.new-set-page--container form .entry .word-type {
  width: 12rem;
}
.new-set-page--container form .entry .translations {
  flex-grow: 1;
}
.new-set-page--container form .entry .buttons {
  width: 7rem;
}
