.MuiDataGrid-root {
  border: 0 !important;
}
.MuiDataGrid-columnHeaders {
  background-color: #fdfdfd;
  border-top: 1px solid rgba(224, 224, 224, 1) !important;
  z-index: 2;
}
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-cell:focus-within {
  outline: 1px solid #000 !important;
}
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-columnHeader:focus-within {
  outline-offset: -2px !important;
}
.MuiDataGrid-footerContainer {
  justify-content: left !important;
}
.MuiDataGrid-footerContainer .MuiTablePagination-root {
  order: -1;
}

.sets-list--buttons {
  margin-right: 2rem;
}
.sets-list--buttons button {
  margin-right: 0.5rem;
}
.sets-list--odd {
  background-color: #fdfdfd;
  z-index: 1;
}
