.grid-toolbar.MuiDataGrid-toolbarContainer {
  display: flex;
  margin-bottom: 0.4rem;
  margin-left: 1rem;
  padding: 0px;
}
.grid-toolbar .vertical-separator {
  background-color: #d1d1d1;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 1px;
}
.grid-toolbar > h2 {
  font-size: 1.2rem;
  line-height: 2.1rem;
  margin-right: 1rem;
}
.grid-toolbar button {
  margin-right: 0.5rem;
}
.grid-toolbar.MuiDataGrid-toolbarContainer {
  margin-left: 0 !important;
}
.grid-toolbar.MuiDataGrid-toolbarContainer .vertical-separator {
  margin-left: 0px;
  margin-right: 0px;
}
.grid-toolbar.MuiDataGrid-toolbarContainer .vertical-separator.second {
  margin-right: 1rem;
}
.grid-toolbar.MuiDataGrid-toolbarContainer button.full-button {
  display: none;
}
.grid-toolbar.MuiDataGrid-toolbarContainer button.small-button {
  margin-right: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.grid-toolbar.MuiDataGrid-toolbarContainer button.small-button {
  display: inline-flex;
}

@media all and (min-width: 600px) {
  .grid-toolbar.MuiDataGrid-toolbarContainer {
    margin-left: 1rem !important;
  }
}

@media all and (min-width: 850px) {
  .grid-toolbar.MuiDataGrid-toolbarContainer .vertical-separator {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .grid-toolbar.MuiDataGrid-toolbarContainer button {
    margin-right: 0.5rem;
  }
  .grid-toolbar.MuiDataGrid-toolbarContainer button.full-button {
    display: inline-flex;
  }
  .grid-toolbar.MuiDataGrid-toolbarContainer button.small-button {
    display: none;
  }
}
