.full-mode--container {
  display: flex;
  flex-direction: column;
}
.full-mode--container .closed-question-form {
  margin-bottom: 1.5rem;
}
.full-mode--container .row {
  display: flex;
  flex-direction: row;
  max-width: 35rem;
}
.full-mode--container .row.results {
  margin-bottom: 1rem;
}
.full-mode--container .row .left-col {
  align-items: center;
  display: flex;
  flex-grow: 1;
}
.full-mode--container .row .left-col > * {
  flex-grow: 1;
}
.full-mode--container .row .right-col {
  display: flex;
  align-items: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 1rem;
  width: 7rem;
}
.full-mode--container .row .left-col.closed-question {
  display: flex;
  align-items: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
  width: 7rem;
}
.full-mode--container .row .right-col.closed-question {
  align-items: center;
  flex-grow: 1;
}
.full-mode--container .row .radio-buttons {
  margin-left: 0.2rem;
  margin-bottom: 1rem;
}
.full-mode--container .summary p.the-end {
  font-size: 1.2rem;
  color: green;
  margin-bottom: 1rem;
}
.full-mode--container .summary button {
  margin-right: 0.5rem;
}
.full-mode--container .answer-field-row {
  margin-bottom: 1rem;
}
.full-mode--container .question {
  font-size: 1.2rem;
}
.full-mode--container .results {
  line-height: 1.2rem;
}
.full-mode--container .correct-answer {
  color: green;
}
.full-mode--container .wrong-answer {
  color: red;
  margin-right: 1rem;
}
.full-mode--container .answer {
  font-weight: bold;
}
.full-mode--container button {
  width: 7rem;
}
