.breadcrumbs-container {
  align-items: center;
  display: flex;
  height: 2rem;
  margin-bottom: 1rem;
}
.breadcrumbs-divider {
  margin-bottom: 1rem;
}
.content-bottom {
  flex-grow: 1;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}