.grid-toolbar .buttons {
  flex-grow: unset !important;
  margin-right: 2rem;
}

.MuiDataGrid-columnHeaders {
  background-color: #FBFBFB;
  border-top: 1px solid rgba(224, 224, 224, 1) !important;
  z-index: 2;
}

.MuiDataGrid-root {
  border: 0 !important;
}

.odd {
  background-color: #FBFBFB;
  z-index: 1;
}

.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-cell:focus-within {
  outline: 1px solid #000 !important;
}

.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-columnHeader:focus-within {
  outline-offset: -2px !important;
}

.MuiDataGrid-footerContainer {
  justify-content: left !important;
}
.MuiDataGrid-footerContainer .MuiTablePagination-root {
  order: -1;
}
